{% extends "base.html" %} {% load static %}{% block title %}Brevet-Cours | About{% endblock title%} {% block nav %} {% include "navbar.html" %} {% endblock nav %} {% block body %}
<div class="main-content">
    <style>
    .cours {
    background-color: #15c29a;
    color: #fff;
    /* border-radius: 5px; */
    transition: none;
    padding: 16px 20px;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 5rem;
}
    .cours {
    width: 100%;
    text-align: center;
}
        .f{
            margin-top: -5rem;

        }
        .main-footer{
            margin-top: 5rem;

        }
        a.rda {
            
            margin: 0 27rem 0px 0;
            /* text-decoration: revert; */
            color: #0cd1a3;
            font-size: 1.1rem;
        }
        a.rdf {
            /* text-decoration: revert; */
            color: #0cd1a3;
            margin: 0px 0px 0px 27rem;
            font-size: 1.1rem;
        }

        a.rda:hover,
        a.rdf:hover {
            color: #444;
            text-decoration:revert;
        }
    @media(max-width: 768px){
        a.rda {
            margin: 0 40% 0px 0;   
        }
        a.rdf {
            margin: 0px 0px 0px 40%;   
        }
        .cours {
    /* padding: 16px 0px; */
    font-size: 1.3rem;
    margin: -36px -5% 51px;
    width: 110.6%;
    }
    </style>
{% if cours_ar %}
    <div class="container">
        <h1 class="cours">الدروس العربية   </h1>
        {% for cours in cours_ar %}
        <a href="{% url 'a_detail' cours.slug %}" class="link">
            <div class=" row1">
                <h2 class="title">{{cours.title|title}}</h2>
                <small class="small"> <i class="fa-clock fa-fw far"></i> {{cours.create|date:'Y - M - d'}} <i class="fa-tags fa-fw fas"></i> {{cours.Lesson.title}} </small>
                
                <div class="text">{{cours.text|slice:200}}
                    <span class="rd"> المزيد ...</span>
                </div>
            </div>
        </a>
        
        {% endfor %}
        <a href="{% url 'coursesar' %}" class="rda">عرض كل</a>
    </div>
    {% endif %}
</div>
    <div class="main-content-fr">
         <div class="container fr">
         {% if cours_fr %}
            <h1 class="cours f">Courses De Francais  </h1>
            {% for coursf in cours_fr %}
            <a href="{% url 'detail' coursf.slug %}" class="link">
                <div class=" row1">
                    <h2 class="title">{{coursf.title|title}}</h2>
                    <small class="small"> <i class="fa-clock fa-fw far"></i> {{coursf.create|date:'Y - M - d'}} <i class="fa-tags fa-fw fas"></i> {{coursf.Lesson.title}}</small>
                    
                    <div class="text">{{coursf.text|slice:200}}
                        <span class="rd"> Plus ...</span>
                    </div>
                </div>
            </a>
            {% endfor %}
            <a href="{% url 'coursesfr' %}" class="rdf">Read all</a>
       </div>{% endif %}
</div>
{% endblock body %}