{% extends "base.html" %} {% block title %}Brevet-Cours | Home{% endblock title%}{% block nav %} {% include "navbar.html" %} {% endblock nav %} {% load static %} {% block body %}
<style>
    span{
        color: #15c29a;
    }
</style>
<div class="bg">
<div class="container">
    
        <div class="header">
            <p class="col-lg-5 container-xl hero">
                مرحبا بكم في <span>صفحة</span> موقعنا الرئيسة لتقديم تصحيح مواد مسابقة ختم دروس الاعدادية
            </p>
        </div>

    <div class="row">
        <div class="col-md-4 ">
                            <a href="{% url 'b_ar_20' %}">
            <h2 class="title">
                اللغة العربية
            </h2>
            <p class="text">مرحبا بكم في هذا الجانب من موقعنا قمنا بتخصيص هذا الجانب لجميع مواد اللغة العربية لمسابقات ختم دروس الإعدادي
المطروحة من <span>2015</span> الى <span>2020</span> و ايضا مع تصحيحها سيتم بإذن الله شروع بنشرهم عما قريب</p></a>

        </div>
        <div class="col-md-4 ">
                            <a href="{% url 'b_fr_20' %}">
            <h2 class="title">
              اللغة الفرنسية
            </h2>
            <p class="text">
مرحبا بكم في هذا الجانب من موقعنا ايضا قمنا بتخصيص هذا الجانب لجميع مواد الفرنسية لمسابقة ختم دروس الإعدادية
المطروحة من  <span>2015</span>  إلى <span>2020</span> وايضا مع تصحيحها و سيتم بإذنا الله شروع بنشرهم عما قريب</p></a>
        </div>
        <div class="col-md-4 ">
                            <a href="{% url 'b_fr_20' %}">
            <h2 class="title">
                اختبارات و تمارين
            </h2>
            <p class="text">
مرحبا بكم في هذا الجانب من موقعنا قمنا بتخصيص هذا الجانب لنشر اختبارات و تمارين مع تصيحيح لكلا المواد اللغة
العربية و اللغة الفرنسية وانشاء ا سيتم نشرهم عما قريب بإذن الله</p>

       </a> 
       </div>
    </div>



</div>

</div>
{% endblock body %}
