{% extends "base.html" %} {% load static %} {% block title %}Brevet-Cours | Arabic-courses{% endblock title%}{% block nav %} {% include "ar/nav.html" %} {% endblock nav %} {% block body %}
<div class="main-content">

{% if cours_ar %}
    <div class="container">
        <h1 class="cours">الدروس العربية   </h1>
        {% for cours in cours_ar %}
        <a href="{% url 'a_detail' cours.slug %}" class="link">
            <div class=" row1">
                <h2 class="title">{{cours.title|title}}</h2>
                <small class="small"> <i class="fa-clock fa-fw far"></i> {{cours.create|date:'Y - M - d'}} <i class="fa-tags fa-fw fas"></i> {{cours.Lesson.title}} </small>
                
                <div class="text">{{cours.text|slice:200}}
                    <span class="rd"> المزيد ...</span>
                </div>
            </div>
        </a>
        
        {% endfor %}

    </div>
    {% endif %}
    
</div>

{% endblock body %}