{% load static %}
<link rel="stylesheet" href="{% static 'css/cours/cours.css'%}" />
<nav class="main-navbar">
  <div class="container">
    <a href="{% url 'home' %}" class="nav-brand"
      >ethmane <span>sneiguel</span></a
    >
    <button class="btn-bar">
      <i class="fa fa-bars bar"></i>
    </button>
    <div class="scrol">
      <ul class="nav-list">
        <button class="btn">
          <i class="fa fa-times time"></i>
        </button>

        <li class="nav-items">
          <a href=" {% url 'b_ar_20' %} " class="nav-link"><i class="fa-arrow-left fa-fw fas aro"></i> مسابقة 2020 </a>
        </li>

        <li class="nav-items">
          <a href="{% url 'b_ar_19' %}" class="nav-link"><i class="fa-arrow-left fa-fw fas aro"></i> مسابقة 2019 </a>
        </li>

        <li class="nav-items">
          <a href="{% url 'b_ar_18' %}" class="nav-link"><i class="fa-arrow-left fa-fw fas aro"></i> مسابقة 2018</a>
        </li>

        <li class="nav-items">
          <a href="{% url 'b_ar_17' %}" class="nav-link"><i class="fa-arrow-left fa-fw fas aro"></i> مسابقة 2017</a>
        </li>

        <li class="nav-items">
          <a href="{% url 'b_ar_16' %}" class="nav-link"><i class="fa-arrow-left fa-fw fas aro"></i> مسابقة 2016</a>
        </li>

        <li class="nav-items">
          <a href="{% url 'b_ar_15' %}" class="nav-link"><i class="fa-arrow-left fa-fw fas aro"></i> مسابقة 2015</a>
        </li>

        <!-- <form class="main-search">
                <input type="search" placeholder="البحث" class="search">

            </form> -->
      </ul>
    </div>
  </div>
</nav>
