<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title%}</title>
    {% block static %} {% include "static.html" %} {% endblock static %}

</head>

<body>{% block nav %} {% endblock nav %} {% block body %} {% endblock body %} {% include 'footer.html' %}
    <!-- <script src="{% static 'js/jquery.min.js'%}"></script> -->
    {% block script %} {% include "script.html" %} {% endblock script %}

</body>

</html>