{% load static %}

<div class="main-footer">


    <div class="container">
        <div class="row">
                <div class="col-md-7">
                    <h2 class="title">
                        صفحات الموقع
                    </h2>

                    <ul class="pl">
                        <li><a href="{% url 'b_ar_20'%}" class="link">المواد العربية</a>
                        </li>
                        <li><a href="{% url 'b_fr_20'%}" class="link">المواد الفرنسية</a></li>
                        <li><a href="#" class="link">اختبارات</a></li>
                    </ul>
                </div>
                <div class="col-md-auto">

                    <h2 class="title">
                        ادارة الموقع
                    </h2>

                    <ul class="pl">
                        <li><a href="{% url 'about' %}" class="link">تعرف علينا</a>
                        </li>
                        <li><a href="{% url 'contact' %}" class="link"> اتصل بنا</a></li>
                    </ul>
                </div>
        </div>
    </div>



</div>
<div class="copy">
    Cope&copy;Ethmane sneiguel
</div>