@import url('fonts.css');
/* @import url('style-grid.css'); */
:root {
    --bs-white: #fff;
    --bs-gray: #f7f7f7;
    --bs-primary: #15c29a;
    --bs-dark: #333;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /* color: var(--bs-dark); */
    background-color: var(--bs-white);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

small,
.small {
    font-size: 0.789em;
    color: #444;
     padding: 0; 
}
a{
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}


.main-navbar {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    top: 0;
    box-shadow: 0px 0px 0 2px rgba(0, 0, 0, .2);
    height: 4rem;
    /* position: relative; */
    display: block;
    padding-top: 0.7rem;
    background-color: var(--bs-white);
    right: 0;
    left: 0;
    z-index: 1030;
    position: fixed;
}

.main-navbar .nav-brand {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    display: block;
    /* */
    padding-top: 0.2rem; 
    font-size: 1.5rem;
    text-decoration: none;
    white-space: nowrap;
    /* margin-left: 5rem; */
    color: var(--bs-dark);
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
}

.main-navbar .nav-brand span {
    color: var(--bs-primary);
}

.main-navbar .nav-list {
    padding-left: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    float: right;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    direction: rtl;
}


.nav-items {
    margin: -18px -30px;
}

.main-navbar .nav-list .nav-link {
    font-family: 'Cairo-b';
    text-transform: uppercase;
    display: block;
    color: #000000cf;
     padding: 0.5rem 0; 
    padding-bottom: 16px;
    text-decoration: none;
    margin: 1rem 27px 0px 50px;
    font-size: 20px;
    transition: box-shadow 0.4s linear !important;
}

.main-navbar .nav-list .nav-link:hover {
    box-shadow: 0 3px 0px #57c7a5 !important;
    color: #000;
}

.main-navbar .nav-list .nav-link .icon {
    display: none;
}

.main-search {
    display: none;
}

.btn-bar {
    background: none;
    border: none;
    text-align: right;
    cursor: pointer;
    line-height: 1.5;
    display: none;
}

.btn-bar .bar {
    font-size: 1.5rem;
    position: absolute;
    right: 40px;
    top: 22px;
}

.btn {
    position: absolute;
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.time {
    display: none;
    position: absolute;
    left: -200px;
    font-size: 1.5rem;
    top: -35px;
    /*     color: #15c29a; */
}

.header {
    padding: 10rem 0 4rem 0;
}

.header .hero {
    font-size: 26px;
    text-align: center;
    font-family: 'Cairo-b';
}

.header .hero span {
    color: var(--bs-primary);
}

@media(max-width:576px) {
    .header .hero {
        font-size: 20px;
        font-family:"Cairo"
    }
    .load-btn {
        position: relative;
        right: 4%;
    }
    
    .main-content.fr {
        margin-top: 100px;
        direction: ltr;
        margin-left: -40px;
        margin-right: 40px;
    }
    .main-navbar .nav-brand {
        margin-left: 20px;
    }
    .btn-bar {
        position: absolute;
        right: -20px;
        top: 0;
    }
}

@media (max-width: 768px) {
    .social {
        margin-top: -10rem;
        padding: 40px;
    }
    .col {
        min-width: 80%;
    }
    .fr {
        margin: 0 0 0 -100px;
    }
    .load-btn {
        margin: 0 40%;
    }
    .head.fra {
        margin: -32px -128px 0 0;
    }
    
    .main-content .head,
    .main-content-fr .head {
        display: block;
        
    }
    .main-content-fr {
        margin: 4rem 0 0 0;
    }
    .row1 {
        background-color: #b5afaf26;
        border-radius: 10px;
    }
    .container .row1 {
        width: 100%;
        margin: 20px 0;
        padding: 20px;
    }
     .main-form input[type="text"] {
        display: block;
        width: 67%;
    }
    .main-form .form {
        display: block;
        margin: 18rem 8%;
    }
    .main-form input[type="text"] {
        display: block;
        width: 83%;
        margin-right: 8%;
    }
    .main-form .form textarea,
    .main-form .form .bn {
        width: 83%;
    } 
}


@media(max-width: 991px) {
    .load-btn {
        width: 8rem;
    }
   
    .main-navbar .nav-list .nav-link .icon {
        display: inline-block;
        padding: 0 0 0 15px;
        font-size: 20px;
    }
    .btn {
        display: block;
    }
    .btn-bar {
        display: block;
    }
    .main-navbar .nav-list {
        display: none;
    }
    .main-search {
        display: block;
        margin-top: 30px;
    }
    .search {
        height: 45px;
        width: 100%;
        padding-right: 10px;
        border: 2px solid #ccc;
        border-radius: 4px;
    }
    .main-navbar .nav-list.open,
    .scrol.open {
        right: 0;
    }
    .main-navbar .nav-list {
        position: fixed;
        display: block;
        z-index: 1;
        top: 0;
        right: -290px;
        width: 250px;
        min-height: 100vh;
        transition: .5s;
        overflow: hidden;
        background-color: var(--bs-white);
        padding: 50px 20px;
    }
    .main-navbar .scrol.open {
        position: fixed;
        display: block;
        z-index: 1;
        top: 0;
        right: 0;
        width: 100%;
        min-height: 1000vh;
        transition: .5s;
        overflow: hidden;
        background-color: rgba(72, 69, 69, 0.77);
    }
    .main-navbar .nav-list.close {
        width: 0;
    }
    .main-navbar .nav-list .nav-link {
        display: block;
        color: #212529;
        padding-bottom: 10px;
        margin: 31px 30px;
        font-size: 18px;
        padding: 5px 10px;
    }
    .main-navbar .nav-list .nav-link:hover {
        background-color: var(--bs-primary);
        color: #fff;
        border-radius: 5px;
        transition: none;
    }
    .row1 {
        background-color: #b5afaf26;
        border-radius: 10px;
    }

}

.main-form {
    background: var(--bs-gray);
    padding: 5rem 0 30px 0;
}

.rd {
    color: #15c29a;
    font-family: "Cairo";
}


.title-d {
    font-family: 'Cairo-b';
}

.title-d::before {
    content: " ";
    height: 5px;
    width: 5rem;
    display: block;
    z-index: 1;
    position: absolute;
    background: var(--bs-primary);
    margin-top: 50px;
}

.copy {
    color: #000;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    background: var(--bs-white);
    /* margin-top: 50px; */
}

.main-content {
    font-family: 'Cairo';
    padding-top: 100px;
    direction: rtl;
    padding-bottom: 5rem;
}

.bg {
    background-color: var(--bs-gray);
}

.main-content .title {
    font-family: 'Cairo-b';
}

.main-content-fr {
    margin-top: 100px;
    direction: ltr;
}

.row1 {
    
    font-family: 'Cairo';
    background-color: var(--bs-gray);
    color: #000;
    margin: 0px 8rem 50px;
    border-radius: 5px;
    
    display: block;
    
    padding: 2rem 5rem 4rem;
    cursor: pointer;
    
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all .3s ease-in-out;
    transform: scale(1); 
}

.row1:hover {
    box-shadow: 0px 0px 5px var(--bs-primary);
    transform: translateY(-5px);
    
}

.link {
    text-decoration: none;
    list-style: none;
    color: #cecaca;
}

.link:hover,
.row1 .title:hover,
.col-md-4 .title:hover {
    color: var(--bs-primary);
    transition: all .3s;
}

.head {
    
    font-size: 25px;
    background-color: var(--bs-primary);
    margin-top: -34px;
    height: 50vh;
    margin-bottom: 50px;   
    position: relative;
    color: #fff;
   
}

.head .head-t {
    font-family: 'Cairo-b';
    text-align: center;
    padding-top: 15rem;
   
}

.main-footer {
    font-family: 'Cairo';
    width: 100%;
    text-align: center;
    background-color: #353535;
    display: block;
    color: #c6c6c6;
    padding: 5rem 0;
}

input[type="text"] {
    display: block;
    margin: 1rem 15% 2rem;
    height: 3rem;
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Cairo';
}


.form {
    margin: 0 50%;
    display: block;
    width: 100%;
}

input[type=text]:focus,
textarea:focus,
.search:focus {
    outline: 2px splid var(--bs-primary);
    border: 2px solid var(--bs-primary);
}

textarea {
    font-family: 'Cairo';
    display: block;
    margin: -15rem 0 0;
    height: 8rem;
    width: 39%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bn {
    font-family: 'Cairo';
    margin: 2rem 0;
    height: 3rem;
    width: 39%;
    background-color: #15c29ae6;
    border: 1px solid #15c29ac6;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-weight: bold;
}

.load-btn {
    border: 3px solid #15c29ac6;
    background: #15c29ac6;
    font-size: 1.2rem;
    border-radius: 3px;
    color: #fff;
    font-family: "Cairo-b";
    cursor: pointer;
    margin: 2rem 45%;
    height: 4rem;
    width: 8rem;
}

.bn:hover,
.load-btn:hover {
    background: var(--bs-primary);
    transition: .3s;
}

.social {
    text-align: center;
    color: var(--bs-primary);
    background: var(--bs-white);
    padding: 40px;
}

.social span {
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    color: #15c29a;
    border: 2px solid var(--bs-primary);
}

.social span:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
    transition: .3s;
}

.social .h2 {
    padding-bottom: 40px;
    font-size: 1.7rem;
    color: #444;
    font-family: "Cairo-b";
}

.cours {
    width: 100%;
    text-align: center;
}
