 @font-face {
     font-family: "Cairo-b";
     src: url('../font/Cairo-Bold.ttf');
 }
 
 @font-face {
     font-family: 'Cairo';
     src: url('../font/Cairo-Regular.ttf');
 }
 
 @font-face {
     font-family: 'Roboto';
     src: url('../font/Roboto-Bold-webfont.woff');
 }
 /* @font-face {
     font-family: 'Roboto';
     src: url('../fonts/Roboto-Regular-webfont.woff');
     font-weight: 400;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'Roboto';
     src: url('../fonts/Roboto-Light-webfont.woff');
     font-weight: 300;
     font-style: normal;
 } */